:root {
    background-color: rgb(169, 214, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    justify-content: center;
}

#frame {
    /* box-sizing: border-box; */
    position: relative;
    border: solid black 20px;
    width: 600px;
    height: 400px;
    z-index: 2;
    background-color: rgb(0, 0, 0);


    & #previous,
    #next {
        position: absolute;
        top: 50%;
        z-index: 3;
        opacity: 60%;
        border-radius: 7px;
        border: none;
    }

    & #previous {
        left: 5px;
    }

    & #next {
        right: 5px;
    }
}

#slider-container {
    --element-width: 50px;
    --element-height: 15px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2%;
    left: calc(50% - var(--element-width)/2);
    min-width: var(--element-width);
    min-height: var(--element-height);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    padding: 2px 4px;


    & button {
        box-sizing: content-box;
        --elem-size: 8px;
        width: var(--elem-size);
        height: var(--elem-size);
        border-radius: 80%;
        border: none;
        align-self: center;
        padding: 0;

    }

    & .unselected {
        background-color: rgba(255, 255, 255, .6);

    }

    & .selected {
        transform: scale(1.5);
        background-color: rgb(255, 255, 255);
    }
}


#image-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;

}

.hidden {
    display: none;
}

#btn2 {
    transform: translateX(300px);
}

#btn1 {
    position: absolute;
    left: 100px;
    top: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 80px;
    border: solid blue 2px;
    background-color: rgb(184, 222, 255);
    /* transform: translate(600px, 250px); */
}

#main-menu,
#menu1 {
    border: solid black 1px;
    background-color: brown;
}